.row {
  max-width: 80vw;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 10rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) /2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.section-about {
  background-color: #f7f7f7f7;
  height: 100vh;
  padding: 10rem 0 0;
  margin-top: -5rem;
}
.section-about p {
  font-size: 1.5rem;
}

.features {
  height: 100vh;
  position: relative;
  margin-top: -5rem;
  overflow: hidden;
  transform: skewY(-2deg);
}
.features-under {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("/img/olea2.jpg") 0 30% no-repeat;
  transform: scale(1.1);
  filter: grayscale(50%) blur(0.8rem);
  background-size: cover;
}
.features-top {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#e2495163, #e4217c6b);
  padding: 20rem 0;
}
.features-top > * {
  transform: skewY(2deg);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 1rem 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.feature-box__icon {
  font-size: 5rem;
  background: linear-gradient(#e2495163, #e4217c6b);
  -webkit-background-clip: text;
  color: transparent;
}
.feature-box:hover {
  transform: translateY(-0.5rem) scale(1.1);
  box-shadow: 0 2px 2rem #00000055;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  line-height: 1.7;
  font-family: "Lato", sans-serif;
  margin: 1rem 2rem;
}

.header {
  background: linear-gradient(#c73c437a, #c5055e91), url("/img/oleaA.jpg") 0 30% no-repeat;
  background-size: cover;
  height: 95vh;
  clip-path: polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
  border-radius: 0.5rem;
  position: relative;
}
.header .under {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("/img/oleaA.jpg") 0 30% no-repeat;
  filter: grayscale(50%) blur(0.8rem);
  clip-path: polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
  background-size: cover;
}
.header .over {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#e2495163, #e4217c6b);
  clip-path: polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
}
.header .over .logo {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 6rem;
  animation: slidown 1s ease-in-out;
}
.header .over .fa,
.header .over .fas {
  color: white;
}

.btn,
.btn:focus {
  text-decoration: none;
  display: inline-block;
  position: relative;
  text-shadow: 0 0 0.2rem #333333;
  padding: 40px;
  letter-spacing: 0.1rem;
  border: none;
  color: white;
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Emoji_u2665.svg/1200px-Emoji_u2665.svg.png") 50% 75% no-repeat;
  background-size: 10rem;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s;
  animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.btn:active {
  transform: scale(1.1);
}

.btn:hover {
  transform: scale(1.2);
}

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Emoji_u2665.svg/1200px-Emoji_u2665.svg.png") 50% 60% no-repeat;
  background-size: 10rem;
  z-index: -1;
  transition: all 0.2s;
}

.btn:hover::after {
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Emoji_u2665.svg/1200px-Emoji_u2665.svg.png") 50% 60% no-repeat;
  background-size: 11rem;
  transform: scaleY(1.4) scaleX(1.6);
  opacity: 0;
}

.btn-text,
.btn-text:link,
.btn-text:visited {
  margin: 2rem 1rem;
  display: inline-block;
  color: #e4217c6b;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0 3px 3px;
  border-bottom: 1px solid #e4217c6b;
  transition: all 0.2s;
}
.btn-text:hover,
.btn-text:link:hover,
.btn-text:visited:hover {
  background: linear-gradient(#c73c437a, #c5055e91);
  color: white;
  transform: translateY(-0.5rem);
  box-shadow: -0.6rem 0.6rem 0.5rem rgba(44, 44, 44, 0.2);
}
.btn-text:active,
.btn-text:link:active,
.btn-text:visited:active {
  transform: translateY(-0.2rem);
  box-shadow: -0.3rem 0.3rem 0.2rem rgba(44, 44, 44, 0.4);
}

.centering-text {
  text-align: center;
}

.composition {
  position: relative;
}
.composition_img {
  width: 45%;
  transition: all 0.3s;
  box-shadow: 0 0 4rem #303030;
  outline-offset: 1rem;
}
.composition_img:hover {
  z-index: 100;
  top: 0;
  transform: scale(1.2) translateY(-2rem);
  outline: 2rem solid #ff080863;
}
.composition_img1 {
  position: absolute;
  top: 4rem;
  left: 0;
}
.composition_img2 {
  position: absolute;
  top: 0;
  left: 30%;
  z-index: 2;
}
.composition_img3 {
  position: absolute;
  top: 2rem;
  left: 15%;
}
.composition:hover .composition_img:not(:hover) {
  transform: scale(0.8);
}

.heading-secondary {
  position: relative;
  margin-bottom: 6rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.8rem;
  letter-spacing: 2px;
  display: inline-block;
  background: linear-gradient(#c73c437a, #c5055e91);
  background-position: top;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
}
.heading-secondary:hover {
  transform: skewX(-3deg) translateY(-0.3rem);
  text-shadow: -0.6rem 0.6rem 0.2rem rgba(44, 44, 44, 0.37);
}

.theh3 {
  font-size: 2rem;
  margin: 2rem 1rem;
  color: #555;
}

.title {
  position: absolute;
  display: inline-block;
  color: white;
  font-size: 2rem;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  text-align: center;
}

.title h1 {
  animation-name: slideleft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  backface-visibility: hidden;
}

.loveyou {
  font-size: 1.5rem;
  animation-name: slideright;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.moveUp {
  animation: moveUp 0.8s ease-out 0.4s;
  animation-fill-mode: backwards;
}

/*     animations     */
@keyframes slideleft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  90% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideright {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  90% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slidown {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=pizdiuc.css.map */
