.row {
  max-width: 102.4rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 10rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) /2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.section-about {
  background-color: #f7f7f7f7;
  height: 100vh;
  padding: 5rem 0 0;
  margin-top: -5rem;
}
.section-about p {
  font-size: 1.5rem;
}

.features {
  height: 120vh;
  position: relative;
  margin-top: -5rem;
  overflow: hidden;
  transform: skewY(-2deg);
  box-sizing: unset;
}
.features-under {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/olea2.jpg") 0 30% no-repeat;
  transform: scale(1.1);
  filter: grayscale(50%) blur(0.8rem);
  background-size: cover;
}
.features-top {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#e2495163, #e4217c6b);
  padding: 20rem 0;
}
.features-top > * {
  transform: skewY(2deg);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 1rem 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.feature-box__icon {
  font-size: 5rem;
  background: linear-gradient(#e2495163, #e4217c6b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.feature-box:hover {
  transform: translateY(-0.5rem) scale(1.1);
  box-shadow: 0 2px 2rem #00000055;
}

.backface-feature {
  background-color: #f7f7f7f7;
  height: 120vh;
  padding: 10rem 0 0;
  margin-top: -5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  line-height: 1.7;
  font-family: "Lato", sans-serif;
  margin: 1rem 2rem;
}

.navigation {
  display: none;
}

.header {
  background: linear-gradient(#c73c43a9, #c5055fab), url("../img/oleaA.jpg") 0 30% no-repeat;
  background-size: cover;
  height: 95vh;
  clip-path: polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
  border-radius: 0.5rem;
  position: relative;
}
.header .under {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/oleaA.jpg") 0 30% no-repeat;
  filter: grayscale(50%) blur(0.8rem);
  clip-path: polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
  background-size: cover;
}
.header .over {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#e2495163, #e4217c6b);
  clip-path: polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
}
.header .over .logo {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 6rem;
  animation: slidown 1s ease-in-out;
}
.header .over .logo-visible {
  display: inline-block;
}
.header .over .logo-hidden {
  display: none;
}
.header .over .logo:hover .logo-vizible {
  display: none;
}
.header .over .logo:hover .logo-hidden {
  display: inline-block;
  transform: scale(1.2);
  color: red;
}
.header .over .fa,
.header .over .fas {
  color: white;
}

.btn,
.btn:focus {
  text-decoration: none;
  display: inline-block;
  position: relative;
  text-shadow: 0 0 0.2rem #333333;
  padding: 40px;
  letter-spacing: 0.1rem;
  border: none;
  color: white;
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Emoji_u2665.svg/1200px-Emoji_u2665.svg.png") 50% 75% no-repeat;
  background-size: 10rem;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s;
  animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.btn:active {
  transform: scale(1.1);
}

.btn:hover {
  transform: scale(1.2);
}

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Emoji_u2665.svg/1200px-Emoji_u2665.svg.png") 50% 60% no-repeat;
  background-size: 10rem;
  z-index: -1;
  transition: all 0.2s;
}

.btn:hover::after {
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Emoji_u2665.svg/1200px-Emoji_u2665.svg.png") 50% 60% no-repeat;
  background-size: 11rem;
  transform: scaleY(1.4) scaleX(1.6);
  opacity: 0;
}

.btn-text,
.btn-text:link,
.btn-text:visited {
  margin: 2rem 1rem;
  display: inline-block;
  color: #e4217c6b;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0 3px 3px;
  border-bottom: 1px solid #e4217c6b;
  transition: all 0.2s;
}
.btn-text:hover,
.btn-text:link:hover,
.btn-text:visited:hover {
  background: linear-gradient(#c73c43a9, #c5055fab);
  color: white;
  transform: translateY(-0.5rem);
  box-shadow: -0.6rem 0.6rem 0.5rem rgba(44, 44, 44, 0.2);
}
.btn-text:active,
.btn-text:link:active,
.btn-text:visited:active {
  transform: translateY(-0.2rem);
  box-shadow: -0.3rem 0.3rem 0.2rem rgba(44, 44, 44, 0.4);
}

.btn-form-submit,
.btn-form-submit:focus {
  text-decoration: none;
  display: inline-block;
  position: relative;
  text-shadow: 0 0 0.2rem #333333;
  padding: 1rem 2rem;
  letter-spacing: 0.1rem;
  border: none;
  color: white;
  background: linear-gradient(#c73c43a9, #c5055fab);
  border-radius: 0.5rem;
  transition: all 0.1s;
  margin-top: 1rem;
}
.btn-form-submit:active,
.btn-form-submit:focus:active {
  transform: scale(1.1);
}
.btn-form-submit:hover,
.btn-form-submit:focus:hover {
  transform: scale(1.2);
}
.btn-form-submit::after,
.btn-form-submit:focus::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
  background: linear-gradient(#c73c43a9, #c5055fab);
  width: 100%;
  height: 100%;
  z-index: -1;
}
.btn-form-submit:hover::after,
.btn-form-submit:focus:hover::after {
  background: linear-gradient(#c73c43a9, #c5055fab);
  transform: scaleY(1.5) scaleX(1.8);
  opacity: 0;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 55vh;
}
.card-side {
  height: 55vh;
  transition: transform 1s ease;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}
.card-side--front {
  background-color: white;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.card-side--back {
  transform: rotateX(180deg);
}
.card-side--back-color1 {
  background: linear-gradient(#c73c43a9, #c5055fab);
}
.card-side--back-color2 {
  background: linear-gradient(#ff580b9a, #9c6c04a8);
}
.card-side--back-color3 {
  background: linear-gradient(#0b75ff7a, #365a1459);
}
.card:hover .card-side--front {
  transform: rotateX(-180deg);
}
.card:hover .card-side--back {
  transform: rotateX(0);
}
.card__img {
  height: 100%;
  position: relative;
}
.card__img--1 {
  background: linear-gradient(#c73c43a9, #c5055fab), url("../img/SPH_2551.jpg") no-repeat;
  background-position: 0 -10rem;
  background-size: 100%;
  clip-path: polygon(0 0, 100% 0%, 100% 46%, 0 56%);
}
.card__img--2 {
  background: linear-gradient(#ff580b9a, #9c6c04a8), url("../img/55560333_2264432760483267_417581399399202816_o.jpg") no-repeat;
  background-size: 100%;
  clip-path: polygon(0 0, 100% 0%, 100% 46%, 0 56%);
}
.card__img--3 {
  background: linear-gradient(#0b75ff7a, #365a1459), url("../img/48402800_2201342623458948_7232344439606214656_o.jpg") no-repeat;
  background-position: 0 -2rem;
  background-size: 100%;
  clip-path: polygon(0 0, 100% 0%, 100% 46%, 0 56%);
}
.card__heading {
  position: absolute;
  width: 60%;
  height: 50%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.card__heading_h2 {
  color: white;
  padding-right: 3rem;
  font-size: 2.5rem;
}
.card__heading_span {
  -webkit-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0 2rem;
}
.card__heading_span--1 {
  background-image: linear-gradient(#c73c43a9, #c5055fab);
}
.card__heading_span--2 {
  background-image: linear-gradient(#ff580b9a, #9c6c04a8);
}
.card__heading_span--3 {
  background-image: linear-gradient(#0b75ff7a, #365a1459);
}
.card__list {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__list ul {
  list-style: none;
  width: 80%;
}
.card__list ul li {
  text-align: center;
  font-size: 1.5rem;
}
.card__list ul li:not(:last-child) {
  padding: 1rem 2rem;
  border-bottom: 1px solid #eee;
}

.story {
  background-color: rgba(255, 255, 255, 0.5);
  width: 90%;
  padding: 1rem;
}
.story_shape {
  width: 15rem;
  height: 15rem;
  float: left;
  -webkit-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  position: relative;
}
.story_shape_img-1 {
  height: 100%;
  transform: scale(1.8) translateX(-4rem);
  transition: all 0.3s;
}
.story_shape_img-2 {
  height: 100%;
  transform: scale(2.5) translate(2rem, 2rem);
  transition: all 0.3s;
}
.story_caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
  opacity: 0;
}
.story:hover .story_shape_img-1, .story:hover .story_shape_img-2 {
  transform: scale(1.5);
  filter: blur(3px) brightness(70%);
}
.story:hover .story_caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.video-background {
  margin-top: -10rem;
  height: 100vh;
  position: relative;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  z-index: 2;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.video-bg__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  -moz-filter: grayscale(0.2) blur(3px);
  filter: grayscale(0.2) blur(3px);
}

.video-form {
  background: #020024;
  background: linear-gradient(95deg, #020024 0%, rgba(255, 255, 255, 0.7035189076) 0%, rgba(255, 255, 255, 0.7035189076) 44%, rgba(0, 0, 0, 0) 44%, rgba(0, 0, 0, 0) 100%), url("../img/adam.jpg") top;
  box-shadow: 0 1rem 4rem #00000021;
  height: 60%;
  width: 80%;
  z-index: 100;
  margin: 0 auto;
  position: relative;
}

.form {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 40rem;
  margin: 2rem;
}

.input-form__input {
  background-color: #ffffff20;
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  border: none;
  box-shadow: 0 2rem 1rem #00000020;
  font-family: inherit;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s;
}
.input-form__input::-webkit-input-placeholder {
  color: #999;
}
.input-form__input:focus {
  outline: none;
  background-color: #ffffff90;
  border-bottom: 3px solid greenyellow;
  box-shadow: 0 0.5rem 2rem #00000060;
}
.input-form__input:focus:invalid {
  border-bottom: 3px solid #8a0000;
}

.input-form__input:placeholder-shown + .input-form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}

.input-form__label {
  font-size: 1.2rem;
  color: #999;
  font-weight: 600;
  margin-left: 2rem;
  padding-top: 0.6rem;
  display: block;
  transition: all 0.3s;
}

.radio-group {
  width: 40%;
  display: inline-block;
}

.form-radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.form-radio-button {
  height: 3rem;
  width: 3rem;
  border: 0.5rem solid #e4217c6b;
  display: block;
  position: relative;
}
.form-radio-button::after {
  content: "";
  display: block;
  height: 1.2rem;
  width: 1.2rem;
  background-color: #e4217c6b;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.form-radio-input:checked ~ .form-radio-label .form-radio-button::after {
  opacity: 1;
}

.form-radio-input {
  display: none;
}

.footer {
  height: 50vh;
  width: 100%;
  background-color: #555;
  position: relative;
}
.footer__logo {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: white;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centering-text {
  text-align: center;
}

.margin-top {
  margin-top: 4rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.composition {
  position: relative;
}
.composition_img {
  width: 45%;
  transition: all 0.3s;
  box-shadow: 0 0 4rem #303030;
  outline-offset: 1rem;
}
.composition_img:hover {
  z-index: 100;
  top: 0;
  transform: scale(1.2) translateY(-2rem);
  outline: 2rem solid #ff080863;
}
.composition_img1 {
  position: absolute;
  top: 4rem;
  left: 0;
}
.composition_img2 {
  position: absolute;
  top: 0;
  left: 30%;
  z-index: 2;
}
.composition_img3 {
  position: absolute;
  top: 2rem;
  left: 15%;
}
.composition:hover .composition_img:not(:hover) {
  transform: scale(0.8);
}

.heading-secondary {
  position: relative;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.8rem;
  letter-spacing: 2px;
  display: inline-block;
  background: linear-gradient(#c73c43a9, #c5055fab);
  background-position: top;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.2s;
}
.heading-secondary:hover {
  transform: skewX(-3deg) translateY(-0.3rem);
  text-shadow: -0.6rem 0.6rem 0.2rem rgba(44, 44, 44, 0.37);
}

.theh3 {
  font-size: 2rem;
  margin: 2rem 1rem;
  color: #555;
}

.title {
  position: absolute;
  display: inline-block;
  color: white;
  font-size: 2rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  text-align: center;
}

.title h1 {
  animation-name: slideleft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  backface-visibility: hidden;
}

.loveyou {
  font-size: 1.5rem;
  animation-name: slideright;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.moveUp {
  animation: moveUp 0.8s ease-out 0.4s;
  animation-fill-mode: backwards;
}

/*     animations     */
@keyframes slideleft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  90% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideright {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  90% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slidown {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=pizdiuc.css.map */
