* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
.header {
 background: linear-gradient( #e2495163,#e4217c6b),url("/img/oleaA.jpg") 0 30% no-repeat ;
 background-size: cover;
 height: 95vh;
 clip-path: polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
margin: 20px;
border-radius: 5px;
position: relative;
}
.under{
    position: absolute;
    width: 100%;
    height: 100%;
    background:url("/img/oleaA.jpg") 0 30% no-repeat ;
    filter: grayscale(100%) blur(5px);
    clip-path: polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
 background-size: cover;
}

.over{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient( #e2495163,#e4217c6b);
    clip-path: polygon(0 2%, 100% 0, 100% 98%, 0% 100%);

}


.logo{
    position: absolute;
    top:5%;
    right: 5%;
   font-size: 60px;
    color: rgb(255, 255, 255);
    animation: slidown 1s ease-in-out;
}

.title{
    position: absolute;
    display: inline-block;
    color: white;
    font-size: 20px;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    letter-spacing: 15px;
    
}
.btn{
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    padding:40px;
    font-weight: 500;
    text-shadow: 0 1px 2px #4e4e4e;
    letter-spacing: -2px;
    animation: opacity 1s ease;
    border: none;
    border-radius: 5px;
    color: white;
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Emoji_u2665.svg/1200px-Emoji_u2665.svg.png") 50% 70% no-repeat;
    background-size: 75px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: .5s;
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.btn:hover{
    background-size: 90px;
    font-weight: 700 ;
    text-shadow: 0 1px 4px #4e4e4e;
    letter-spacing: 0;
    transition: .5s;
}



.title h1{
    animation-name: slideleft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    backface-visibility: hidden;
}

.loveyou{
    font-size: 15px;
    animation-name: slideright;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    margin-top: 20px;
    margin-bottom: 50px;
   

}


/*     animations     */
@keyframes slideleft{
    0%{
opacity: 0;
transform: translateX(-100px);
    }
    90%{
        transform: translateX(20px);
    }
    100%{
opacity: 1;
transform: translateX(0);
    }
}


@keyframes slideright{
    0%{
opacity: 0;
transform: translateX(100px);
    }
    90%{
        transform: translateX(-20px);
    }
    100%{
opacity: 1;
transform: translateX(0);
    }
}

@keyframes slidown{
    0%{
opacity: 0;
transform: translateY(-100px);
    }
  
    100%{
opacity: 1;
transform: translateY(0);
    }
}

@keyframes opacity{
    0%{
opacity: 0;

    }
  
    100%{
opacity: 1;

    }
}

