.footer{
height: 50vh;
width: 100%;
background-color: $gray-text;
position: relative;
    
&__logo{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: white;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
}

