.footer {
    height: 60vh;
    width: 100%;
    background-color: $gray-text;
    position: relative;
    margin-top: -20rem;

    &__logo {
        position: absolute;
        width: 10rem;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);

        &--svg {
            fill: white;
        }
    }
}