.form{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 40rem;
    margin: 2rem;
}

// .input-form__container:not(:last-child){
//     margin-bottom: 0;
    
// }

.input-form__input{
    background-color: #ffffff20;
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    border: none;
    box-shadow: 0 2rem 1rem #00000020;
    font-family: inherit;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all .3s;
    


    &::-webkit-input-placeholder{
        color: #999;
    }
    
    &:focus{
        outline: none;
        background-color: #ffffff90;
        border-bottom: 3px solid greenyellow;
        box-shadow: 0 .5rem 2rem #00000060;
    }
    &:focus:invalid{
        border-bottom: 3px solid rgb(138, 0, 0);
      }

}

.input-form__input:placeholder-shown + .input-form__label{
opacity: 0;
   visibility: hidden;
   transform: translateY(-3rem);
}

.input-form__label{
    font-size: 1.2rem;
    color: #999;
    font-weight: 600;
    margin-left: 2rem;
    padding-top: .6rem;
    display: block;
    transition: all .3s;
}

.radio-group{
    width: 40%;
    display: inline-block;
}


.form-radio-label{
    font-size: 1.6rem;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.form-radio-button{
    height:3rem ;
    width: 3rem;
    border: .5rem solid $gradient-color2;
    border-radius: 50%;
    display: block;


    &::after{
        content: "";
        height: 1rem;
        width: 1rem;
        background-color:$gradient-color2 ;
    }
}