.form{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 40rem;
    margin: 2rem;
}

.input-form__container:not(:last-child){
    margin-bottom: 3rem;
    
}

.input-form__input{
    background-color: transparent;
    padding: 1rem;
    border: none;
    box-shadow: 0 .5rem 2rem #00000050;
    

    &:focus{
        outline: none;
        
        border: none;
        box-shadow: 0 .5rem 2rem #00000050;
        
    }

}

