@use "mixin";
@use "variables";

.header {
  background: variables.$main-grad, url("../img/oleaA-1.jpg") 0 30% no-repeat;
  background-size: cover;
  height: 95vh;
  -webkit-clip-path: variables.$main-head-cliping;
  clip-path: variables.$main-head-cliping;
  border-radius: 0.5rem;
  position: relative;

  @include mixin.respond(tablet-port) {
    height: 50vh;
  }

  @media (min-resolution: 192dpi) and (min-width: 600px) {
    background: linear-gradient(
        to right,
        rgba(108, 189, 3, 0.514),
        rgba(192, 98, 9, 0.356)
      ),
      url("../img/oleaA.jpg-1") 0 30% no-repeat;
  }

  @media (min-width: 1200px) {
    background: linear-gradient(
        to right,
        rgba(108, 189, 3, 0.514),
        rgba(192, 98, 9, 0.356)
      ),
      url("../img/oleaA.jpg") 0 30% no-repeat;
  }

  .under {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../img/oleaA.jpg") 0 30% no-repeat;
    filter: grayscale(50%) blur(0.8rem);
    -webkit-clip-path: variables.$main-head-cliping;
    clip-path: variables.$main-head-cliping;
    background-size: cover;
  }

  .over {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#e2495163, #e4217c6b);
    -webkit-clip-path: variables.$main-head-cliping;
    clip-path: variables.$main-head-cliping;

    .logo {
      position: absolute;
      top: 5%;
      right: 5%;
      font-size: 6rem;
      animation: slidown 0.1s ease-in-out;

      &-visible {
        display: inline-block;
      }

      &-hidden {
        display: none;
      }

      &:hover .logo-vizible {
        display: none;
      }

      &:hover .logo-hidden {
        display: inline-block;
        transform: scale(1.2);
        color: red;
      }
    }

    .fa,
    .fas {
      color: rgb(255, 255, 255);
    }
  }
}
