.navigation {
    &-checkbox {
        display: none;
    }

    &-handle {
        position: fixed;
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        top: 6rem;
        right: 6rem;
        background-color: white;
        z-index: 250;
        box-shadow: 0 1rem 1rem #00000011;

        span {
            width: 1.5rem;
            height: 2px;
            background-color: $gray-text;
        }

    }

    &-background {
        position: fixed;
        width: 6rem;
        height: 6rem;
        top: 6.5rem;
        right: 6.5rem;
        background: $radial-grad;
        border-radius: 50%;
        z-index: 100;
        transition: transform .8s cubic-bezier(.09, 1.15, .97, .98);
    }

    &-nav {
        position: fixed;
        top: 0;
        left: 0;

        height: 100vh;
        z-index: 200;

        // display: none;
        width: 0;
        opacity: 0;
        transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    &-list {
        position: absolute;
        list-style: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &-item {
        margin: 1rem;
    }

    &-link {

        &:link,
        &:visited {
            display: inline-block;
            padding: .5rem 2rem;
            text-decoration: none;
            color: white;
            font-size: 3rem;
            font-weight: 300;
            margin-top: 1rem;
            background-image: linear-gradient(120deg,
                    transparent 0%,
                    transparent 50%,
                    #fff 50%);
            background-size: 235%;
            transition: background-position .4s ease;
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $gradient-color1;
        }
    }

    &-checkbox:checked~&-background {
        transform: scale(80);
    }

    &-checkbox:checked~&-nav {
        width: 100%;
        opacity: 1;
    }
}