@use "sass:meta";
@use 'variables';
@use 'mixin';
@use "body";
@use 'floats_grid';
@use 'home';
@use 'navigation';
@use 'header';
@use '_btn';
@use 'card';
@use 'story_feature';
@use 'video';
@use 'form';
@use 'footer';
@use 'popup';
@use 'widgets';
@use 'typography';




.title {
    position: absolute;
    display: inline-block;
    color: white;
    font-size: 2rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    letter-spacing: 1.5rem;
    text-align: center;

}



.title h1 {
    animation-name: slideleft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    @include mixin.respond(phone) {
        font-size: 1.5rem;
        letter-spacing: .5rem;
    }
}

.loveyou {
    font-size: 1.5rem;
    animation-name: slideright;
    animation-duration: 1s;
    animation-timing-function: ease-in;

    @include mixin.respond(phone) {
        font-size: 1rem;
        letter-spacing: .2rem;
    }
}


.moveUp {
    animation: moveUp .8s ease-out .4s;
    animation-fill-mode: backwards;
}

/*     animations     */

@include meta.load-css('animations');