//colors and gradients
$gradient-color1:#ff080863;
$main-grad:linear-gradient(#c73c437a, #c5055e91);
$gradient-color2:#e4217c6b;
$gray-text:#555;
$main-head-cliping:polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
$color-grey-light1:#f7f7f7f7;

//grid width
$grid-width:102.4rem;
$gutter-vertical:10rem;
$gutter-horisontal:6rem;

//font size h2
$h2sizes: 2.8rem;

//font size h3
$h3sizes: 2rem;

//font size p
$psizes: 1.5rem;