//colors and gradients
$gradient-color1:#ff080863;
$main-grad:linear-gradient(#e2495163, #e4217c6b);
$gradient-color2:#e4217c6b;
$main-head-cliping:polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
$color-grey-light1:#f7f7f7f7;

//grid width
$grid-width:90vw;
$gutter-vertical:8rem;
$gutter-horisontal:2rem;