//colors and gradients
$gradient-color1:#ff080863;
$main-grad:linear-gradient(#c73c43a9, #c5055fab);
$second-grad:linear-gradient(#ff580b9a, #9c6c04a8);
$third-grad:linear-gradient(#0b75ff7a, #365a1459);
$gradient-color2:#e4217c6b;
$gray-text:#555;
$main-head-cliping:polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
$color-grey-light1:#f7f7f7f7;
$radial-grad:radial-gradient(#b80056,#830000);
//grid width
$grid-width:102.4rem;
$gutter-vertical:10rem;
$gutter-horisontal:6rem;

//font size h2
$h2sizes: 2.8rem;

//font size h3
$h3sizes: 2rem;

//font size p
$psizes: 1.5rem;

$m-1:1rem;